<!-- Script Section -->
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/Scripts/app.js"></script>

  <footer class="text-center fixed-bottom text-red" style="background-color: #ce7b7b;">
      <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        
        <p class=""fw-bold> Dimple    301225341       Feb 2022</p>
      </div>
  </footer>
</body>
</html>