<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main>
    <div>
       <h1 style="text-align:center"   class="display-4"><b>Home</b> </h1>  <br/>  <hr>
     </div>
   </main>
 <CENTER><b>Dimple </b><hr></CENTER>



  <!-- Welcome page -->
  <div style="text-align: center;">
    <h1 >Welcome</h1>
  <img src="images/logo.jpg">
  <br/>
  <br/>
  <button class="button" href="/about">About</button>&nbsp;&nbsp;
  <button class="button" href="/projects">Projects</button>&nbsp;&nbsp;
  <button class="button" href="/services">Services</button>&nbsp;&nbsp;
  <button class="button" href="/contact">Contact</button>
  </div>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  




