<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %> 

  <!-- Main Content -->
  <main class="container">
    <div class="card">
      <div class="card-header">
        Hotel Management System
      </div>
      <div class="card-body">
          <img src="images/project1.png" height="400" width="350">
        <p class="card-text">This system is used to store all the data of the manager, employees and visiters.</p>
        
      </div>
    </div>
    <br><br>
    <div class="card">
      <div class="card-header">
        Database Management System
      </div>
      <div class="card-body">
          <img src="images/project2.png" height="400" width="450">
        <p class="card-text">it is used to store all the data in different ways and it is the best way to organise the data.</p>
        
      </div>
    </div>
    <br><br>
    <div class="card" style="margin-bottom: 30px;">
      <div class="card-header">
        Healthcare Management system
      </div>
      <div class="card-body">
          <img src="images/project3.jpg" height="400" width="450">
        <p class="card-text">This sytem is used to store the details of the patients, doctors,staff and to store all the hospital records.</p>
      </div>
    </div>
  </main>
  
  <%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>
  




